

html
{
    height: 124%;
    overflow: auto;
}

html::-webkit-scrollbar 
{
    width: 6px;
}

html::-webkit-scrollbar-track 
{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb 
{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover 
{
    background: rgba(255, 255, 255, 0.4);
}











.logo_box
{
    
    position: absolute;
    transform: translate(-100%,0%);
    background-color: #261e1a;
    left: 100%;
    width: 18%;
    height: 40%;
    top: 0%;
    border-bottom: solid 3px black;
    border-left: solid 3px black;
    border-bottom-left-radius: 20px;
}

.logo
{
    position: absolute;
    z-index: 2;
    transform: translate(-50%,-50%);
    height: 60%;
    width: 60%;
    border: rgb(255, 255, 255) 2px solid;
    border-radius: 10px;
    top: 37.5%;
    left: 50%;
    transition-duration: 0.6s;
    opacity: 100%;
}

.logo:hover
{
    opacity: 0%;
}

.logo2
{
    position: absolute;
    z-index: 1;
    transform: translate(-50%,-50%);
    height: 60%;
    width: 60%;
    border: rgb(0, 0, 0) 3px solid;
    border-radius: 10px;
    top: 37.5%;
    left: 50%;
    opacity: 100%;
}

.logo_text
{
    position: absolute;
    transform:  translate(-50%,-50%);
    color: white;
    width: 100%;
    height: 30%;
    top: 85%;
    left: 50%;
    font-size: 30px;
    text-align: center;
    line-height: 35%;
    font-family: Arial;

    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
}







.navigation
{
    position: absolute;
    transform: translate(0%, 0%);
    left: 0%;
    top: 0%;
    width: 82.001%;
    height: 10%;
    border-bottom: solid 3px black;
    background-color: #261e1a;
}

.nav_but1
{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 25%;
    text-align: center;
    color: white;
    font-size: larger;
    border: none;
    width: 12%;
    height: 60%;
    transition-duration: 0.25s;
    background-color: #000000;
    border-radius: 5px;
    border: #000000 solid 2px;
}

.nav_but1:hover
{
    background-color: rgb(216, 216, 216);
    color: black;
}

.nav_but2
{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    font-size: larger;
    border: none;
    width: 18%;
    height: 72%;
    transition-duration: 0.25s;
    background-color: green;
    border-radius: 5px;
    border: #000000 solid 2px;
}

.nav_but2:hover
{
    background-color: rgb(105, 233, 0);
    color: black;
}

.nav_but3
{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    text-align: center;
    left: 75%;
    color: white;
    font-size: larger;
    border: none;
    width: 12%;
    height: 60%;
    transition-duration: 0.25s;
    background-color: #000000;
    border-radius: 5px;
    border: #000000 solid 2px;
}

.nav_but3:hover
{
    background-color: rgb(216, 216, 216);
    color: black;
}







.bg_edit
{
    background-color: #574f50;
    scroll-behavior: smooth;
}










.gouverining_box
{
    z-index: 0;
    position: absolute;
    transform: translate(0%,0%);
    background-color: none;
    width: 82%;
    height: 100%;
    left:0%;
    top: 10%;
}

.box_1
{
    position: absolute;
    background-color: #261e1a;
    transform: translate(-50%,-50%);
    border: solid 2px black;
    width: 25%;
    height: 38%;
    left: 19%;
    top: 26%;
    border-radius: 10%;
}

.box_1:hover .img_main
{
    filter: brightness(1.2) saturate(1.1);
    transform: translate(-50%, -50%) scale(1.10);
}

.box_2
{
    position: absolute;
    background-color: #261e1a;
    transform: translate(-50%,-50%);
    border: solid 2px #000000;
    width: 25%;
    height: 38%;
    left: 50%;
    top: 26%;
    border-radius: 10%;
}

.box_2:hover .img_main
{
    filter: brightness(1.2) saturate(1.1);
    transform: translate(-50%, -50%) scale(1.10);
}

.box_3
{
    position: absolute;
    background-color: #261e1a;
    transform: translate(-50%,-50%);
    border: solid 2px #000000;
    width: 25%;
    height: 38%;
    left: 81%;
    top: 26%;
    border-radius: 10%;
}

.box_3:hover .img_main
{
    filter: brightness(1.2) saturate(1.1);
    transform: translate(-50%, -50%) scale(1.10);
}

.big_box
{
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: #3a3d47;
    border:#000000 solid 3px;
    border-radius: 25px;
    z-index: 0;
    width: 92%;
    height: 45%;
    left: 50%;
    top: 26%;


    opacity:  100%;
}

.img_main
{
    position: absolute;
    transform: translate(-50%, -50%);
    transition-duration: 0.35s;
    top: 27%;
    left: 50%;
    width: 80%;
    height: 45%;
    border-radius: 15px;
    border: rgb(184, 184, 184) 2px solid;

    transform-origin: center;
}

.text_main_titlu
{
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 62%;
    width: 100%;
    font-size: 40px;
    font-family: Arial;
    text-align: center;

    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
}

.text_main_bottom
{
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 80%;
    width: 90%;
    font-size: 18px;
    font-family: Arial;
    text-align: center;
    line-height: 100%;

    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
}










.lower_box
{
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: #3a3d47;
    border:#000000 solid 3px;
    border-radius: 25px;
    width: 92%;
    height: 45%;
    left: 50%;
    top: 80%;
}

.box_1_low
{
    position: absolute;
    background-color: #261e1a;
    transform: translate(-50%,-50%);
    border: solid 2px black;
    width: 25%;
    height: 38%;
    left: 19%;
    top: 80%;
    border-radius: 10%;
}

.box_1_low:hover .img_secondary
{
    filter: brightness(1.2) saturate(1.1);
    transform: translate(-50%, -50%) scale(1.10);
}

.box_2_low
{
    position: absolute;
    background-color: #261e1a;
    transform: translate(-50%,-50%);
    border: solid 2px #000000;
    width: 25%;
    height: 38%;
    left: 50%;
    top: 80%;
    border-radius: 10%;
}

.box_2_low:hover .img_secondary
{
    filter: brightness(1.2) saturate(1.1);
    transform: translate(-50%, -50%) scale(1.10);
}

.box_3_low
{
    position: absolute;
    background-color: #261e1a;
    transform: translate(-50%,-50%);
    border: solid 2px #000000;
    width: 25%;
    height: 38%;
    left: 81%;
    top: 80%;
    border-radius: 10%;
}

.box_3_low:hover .img_secondary
{
    filter: brightness(1.2) saturate(1.1);
    transform: translate(-50%, -50%) scale(1.10);
}

.img_secondary
{
    position: absolute;
    transform: translate(-50%, -50%);
    transition-duration: 0.35s;
    top: 27%;
    left: 50%;
    width: 80%;
    height: 45%;
    border-radius: 15px;
    border: rgb(184, 184, 184) 2px solid;
}

.text_second_titlu
{
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 62%;
    width: 100%;
    font-size: 40px;
    font-family: Arial;
    text-align: center;

    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
}

.text_second_bottom
{
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 80%;
    width: 90%;
    font-size: 18px;
    font-family: Arial;
    text-align: center;
    line-height: 100%;

    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
}











.right_box
{
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: #3a3d47;
    border:#000000 solid 3px;
    border-radius: 25px;
    width: 17%;
    height: 68%;
    left: 90.5%;
    top: 78%;
}

.text_right_box 
{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 90%;
    top: 50%;
    left: 50%;
    
    padding: 10px; 
    box-sizing: border-box; 
    
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    line-height: 1.4; 
    
    overflow-y: scroll; 
    scroll-behavior: smooth; 

    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal;
}


.text_right_box::-webkit-scrollbar 
{
    width: 6px; 
}


.text_right_box::-webkit-scrollbar-track 
{
    background: rgba(255, 255, 255, 0.05); 
    border-radius: 10px;
}


.text_right_box::-webkit-scrollbar-thumb 
{
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 10px;
}


.text_right_box::-webkit-scrollbar-thumb:hover 
{
    background: rgba(255, 255, 255, 0.4); 
}












.about_us_bottom_bar
{
    position: absolute;
    background-color: black;
    transform: translate(-50%, -100%);
    width: 100%;
    height: 6%;
    left: 50%;
    top: 124%;
}

.about_us_bottom_bar_text_1
{
    position: absolute;
    color: white;
    transform: translate(-50%,-50%);
    width: 20%;
    height: 80%;
    top: 65%;
    left: 10%;
    font: 40px;
    text-align: center;
    font-size: 24px;
    font-family: Arial;
}

.about_us_bottom_bar_text_2
{
    position: absolute;
    color: white;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 80%;
    top: 65%;
    left: 38.5%;
    font: 40px;
    text-align: center;
    font-size: 24px;
    font-family: Arial;
}

.about_us_bottom_bar_text_3
{
    position: absolute;
    color: white;
    transform: translate(-50%,-50%);
    width: 20%;
    height: 80%;
    top: 60%;
    left: 67.5%;
    font: 40px;
    text-align: center;
    font-size: 24px;
    font-family: Arial;
}

.about_us_bottom_bar_text_4
{
    position: absolute;
    color: white;
    transform: translate(-50%,-50%);
    width: 20%;
    height: 80%;
    top: 65%;
    left: 90%;
    font: 40px;
    text-align: center;
    font-size: 24px;
    font-family: Arial;
}







.site_logo
{
    position: fixed;
    transform: translate(-50%,-50%);
    width: 5%;
    height: 90%;
    top: 50%;
    left: 4%;
    border: rgb(0, 84, 133) 2px solid;
    border-radius: 5px;
}




.full
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-color: #00000000;
    border: none;
}